<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" /> <!-- Define a codificação de caracteres como UTF-8 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- Configura a visualização responsiva -->
  <title>Lista de Tarefas</title> <!-- Título da página exibido na aba do navegador -->
</head>

<body>

  {% include 'header.html' %} <!-- Inclui o cabeçalho da página -->
  
  <div class="home-main"> <!-- Div principal que envolve o conteúdo da página -->
    <main>
      <ul class="home-ul"> <!-- Adiciona a lista não ordenada -->
      {% for task in tasks %} <!-- Início do loop para iterar sobre as tarefas -->
      <li class="home-ul-li">
        {{ task[2] }} - {{ task[3] }} - 
        {% if task[4] == 'concluido' %} Concluído {% else %} Pendente {% endif %} - 
        {{ task[5] }}
        
        <div class="task-actions">
          <a href="/edit/{{ task[0] }}">Editar</a>
          <a href="/delete/{{ task[0] }}">Remover</a>
        </div>
      </li>
      {% endfor %} <!-- Fim do loop para as tarefas -->
    </ul> <!-- Fim da lista não ordenada -->
    </main>
  </div>
  
  {% include 'footer.html' %} <!-- Inclui o rodapé da página -->
  
</body>

</html>
