<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
</head>

<body>
    {% include 'header.html' %}

    <div class="add-main">
        <main>
            <h1 class="add-title">Adicionar Tarefa</h1>
            <form class="add-form" method="POST">
                <label class="add-form-label">Título:</label>
                <input type="text" name="titulo" required>
                <label class="add-form-label" >Descrição:</label>
                <textarea name="descricao" required></textarea>
                <button type="submit">Adicionar</button>

            </form>


        </main>
    </div>
    {% include 'footer.html' %}
</body>

</html>