<!DOCTYPE html>
<html lang="pt-br"> <!-- Define o idioma da página como português do Brasil -->

<head>
    <meta charset="UTF-8"> <!-- Define a codificação de caracteres como UTF-8 para garantir suporte a caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a visualização responsiva para diferentes tamanhos de tela -->
    <title>Adicionar</title> <!-- Título da página exibido na aba do navegador -->
</head>

<body>
    {% include 'header.html' %} <!-- Inclui o cabeçalho da página a partir de um arquivo HTML externo -->

    <div class="add-main"> <!-- Div principal para a seção de adição de novas tarefas -->
        <main>
            <h1 class="add-title">Adicionar Tarefa</h1> <!-- Título da seção de adição de tarefas -->
            <form class="add-form" method="POST"> <!-- Formulário para adicionar uma nova tarefa, enviando dados via método POST -->
                <label for="title" class="add-form-label">Título:</label> <!-- Rótulo para o campo de entrada do título -->
                <input type="text" id="title" name="title" required> <!-- Campo de texto para o título, obrigatório para o envio do formulário -->
                
                <label for="description" class="add-form-label">Descrição:</label> <!-- Rótulo para o campo de entrada da descrição -->
                <textarea name="description" id="description" required></textarea> <!-- Área de texto para a descrição, obrigatória para o envio do formulário -->
                
                <button type="submit">Adicionar</button> <!-- Botão para enviar o formulário e adicionar a nova tarefa -->
            </form>
        </main>
    </div>
    
    {% include 'footer.html' %} <!-- Inclui o rodapé da página a partir de um arquivo HTML externo -->
</body>

</html>
