<!DOCTYPE html>
<html lang="pt-br"> <!-- Define o idioma da página como português do Brasil -->

<head>
    <meta charset="UTF-8"> <!-- Define a codificação de caracteres como UTF-8 para suportar caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a visualização responsiva para diferentes tamanhos de tela -->
    <title>Editar</title> <!-- Título da página exibido na aba do navegador -->
</head>

<body>

    {% include 'header.html' %} <!-- Inclui o cabeçalho da página a partir de um arquivo HTML externo -->

    <div class="edit-main"> <!-- Div principal para a seção de edição da tarefa -->
        <main>
            <h1 class="edit-title">Editar Tarefa</h1> <!-- Título da seção de edição -->
            <form class="edit-form" method="POST"> <!-- Formulário para editar a tarefa, enviando dados via método POST -->
                <label for="title" class="edit-form-label">Título:</label> <!-- Rótulo para o campo de entrada do título -->
                <input type="text" id="title" name="title" value="{{ task[2] }}" required> <!-- Campo de texto para o título, preenchido com o valor atual da tarefa -->

                <label for="description" class="edit-form-label">Descrição:</label> <!-- Rótulo para o campo de entrada da descrição -->
                <textarea name="description" id="description" required>{{ task[3] }}</textarea> <!-- Área de texto para a descrição, preenchida com o valor atual da tarefa -->

                <div class="status"> <!-- Seção para o status da tarefa -->
                    <label class="edit-form-label">Status:</label> <!-- Rótulo para o campo de status -->
                    <input class="status" type="checkbox" name="status" value="on" {{checked}}> Concluído <!-- Checkbox para marcar a tarefa como concluída, com valor dinâmico que indica se está marcada -->
                </div>

                <button type="submit">Salvar</button> <!-- Botão para enviar o formulário e salvar as alterações feitas na tarefa -->
            </form>
        </main>
    </div>
    
    {% include 'footer.html' %} <!-- Inclui o rodapé da página a partir de um arquivo HTML externo -->
</body>

</html>
