<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>

<body>

    {% include 'header.html' %}

    <div class="edit-main">
        <main>
            <h1 class="edit-title">Editar Tarefa</h1>
            <form class="edit-form" method="POST">
                <label class="edit-form-label">Título:</label>
                <input type="text" name="titulo" value="{{ task[2] }}" required>
                <label class="edit-form-label">Descrição:</label>
                <textarea name="descricao" required>{{ task[3] }}</textarea>
                <div class="status">
                    <label class="edit-form-label">Status:</label>
                    <input class="status" type="checkbox" name="status" value="on" {{checked}}> Concluído
                </div>
                <button type="submit">Salvar</button>
            </form>



        </main>
    </div>
    {% include 'footer.html' %}
</body>

</html>