<!DOCTYPE html>
<html lang="pt-br"> <!-- Declaração do tipo de documento e define o idioma da página para português do Brasil -->

<head>
    <meta charset="UTF-8"> <!-- Define a codificação de caracteres como UTF-8 para suportar caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a visualização responsiva para dispositivos móveis, ajustando a largura da página -->
    <title>Lista de Tarefas</title> <!-- Título da página exibido na aba do navegador -->
</head>

<body>
    <footer class="footer"> <!-- Seção de rodapé da página -->
        <div class="footer-div"> <!-- Divisão para agrupar o conteúdo do rodapé -->
            <p class="footer-p">Copyright &copy; 2024. Todos os direitos reservados.</p> <!-- Mensagem de direitos autorais -->
            <p class="footer-p">Desenvolvido por Natalia Salatiel.</p> <!-- Crédito ao desenvolvedor -->
        </div>
    </footer>

</body>

</html>
